/* ------MOBILE------*/
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 576px) {

}

/* ------TABLET------*/
@media (min-width: 577px) {
}

/* ------DESKTOP-----*/
/* ----------------- */
@media (min-width: 500px) {
}

/* ------DESKTOP-----*/
/* ----------------- */


/* HIDE ELEMENTS FROM SCREEN, BUT NOT SCREE-READERS*/
.visually-hidden {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

