/* MAIN BACKGROUND COLOUR */
body {background-color: var(--color-background);}
/* DARK MODE */  body {transition: background-color 0.3s, color 0.3s;}

/*------BUTTONS------- */
/* Standard button */
.button {
    text-align: center;
    font-style: normal;

    /* Interactivity */
    cursor: pointer;
    transition: background 100ms ease-in-out,
    transform 100ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
/* Button width */
.button-fullwidth {width: 100%;}
.button-small {
    text-align: center;
    padding: 0.5rem 1rem;}
/* Button colors */
.button-colorless {
    background-color: transparent;}
.button-black {
    background-color: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-black) !important;
}
.button-white {
    background-color: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-black) !important;
}
.button-red {
    background-color: var(--color-red-l);
    border-color: var(--color-red-l) !important;
    color: var(--color-black) !important;
}
/* Button opacity */
.button-opacity {opacity: 0.5;}

/* --------- CARD -------*/
/* CARD STYLING */
.card {
    width: 100%;
    max-width: 500px;
    padding: 1.5rem 2rem;
}
.round-corners-whole100 {border-radius: 2rem;}
.round-corners-whole50 {border-radius: 1rem;}
.round-corners-whole25 {border-radius: 0.75rem;}
.round-corners-whole10 {border-radius: 0.5rem;}
.round-corner-bottom100 {border-radius: 0 0 2rem 2rem;}
.round-corner-top100 {border-radius: 2rem 2rem 0 0;}

/*----- LINKS -------- */
.link, .link:hover, .link:visited,
a, a:hover, a:visited {     color: var(--color-link);}
a, .link:hover, a:hover {   text-decoration: none;}
.link {
    font-weight: bold;
    text-decoration: underline;
    padding-left: 0;
}
/*----- INPUTS ------*/
input, select {
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    cursor: pointer;
}

.input-label {
    margin-left: 0.8rem;
    margin-bottom: 0.4rem;
}

/*-> FOCUS */
input:focus, select:focus {
    outline: 0.1rem solid var(--color-black);
    outline-offset: -0.075rem;
}

/* Borders */
.thin-border {border: solid 0.1rem;}
.full-border {border: solid 0.2rem;}

/* CUSTOM FOR OPPMØTEBOKA */
.button-yellow {
    background-color: var(--color-yellow-l);
    border-color: var(--color-yellow-l) !important;
    color: var(--color-black); }
.field-height-100 {height: 3.9rem;}
.field-height-50 {height: 3rem;}


