.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 500px;
    margin: 2rem auto 0;
    .left-header {
        display: flex;
        align-items: flex-start;
    }
    img {
        height: 2.75rem;
    }
}

/* Wider header for admin views */
.header-container.admin {
    max-width: 1000px;
}

.header-buttons {
    display: flex;
    gap: 1rem;
}
