.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 400px;
    margin: 2rem auto 0;
    img {
        height: 39px;
    }
}

.header-buttons {
    display: flex;
    gap: 1rem;
}
